{% extends 'base.html.twig' %}
{% block myStylesheets %}
	<style>
		.colorTextNoir {
			color: black !important;
		}
		.clickable-row:hover {
			background-color: #f37262;
		}
		a {
			text-decoration: none;
		}
	</style>

{% endblock myStylesheets %}
{% block myJavascripts %}
	<script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>

	<script>

		jQuery(document).ready(function ($) {
$(".clickable-row").click(function () {
window.location = $(this).data("href");
});
});
	</script>
{% endblock myJavascripts %}

{% block body %}

		{% if sessions %}
			<div class="container bg-workSpace">
			<div class="row ">
		{% for i in 0.. sessions|length -1  %}
		
		
				
					<div class="col-12  ">
						<div class="accordion" id="accordionPanelsStayOpenExample">
							<div class="accordion-item">
								<div class="accordion-header" id="panelsStayOpen-headingOne">
									<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
										<h4 class="txt-dark">Session{{sessions[i].nom}}</h4>
									</button>
								</div>
								<div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
									<div class="accordion-body">
										<div class="row">
											<div class="container-fluid">
												<div class="row bg-bar">
													<div class="col-6 txt-normal">
														Debut :	{{sessions[i].debut|date("d/m/y")}}
													</div>
													<div class="col-6 txt-normal">
														Fin : {{sessions[i].fin|date("d/m/y")}}
													</div>
												</div>
												<div>
													{% include 'listSession1.html.twig' %}
												</div>			
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				
			
		
		{% endfor %}
			{% include 'dash/dashOFInclude.html.twig' %}
		</div>	</div>	
		{% else %}
			<div class="row bg-bar">
				<div class="col-6 txt-normal">
					<h3>Aucune session en cours</h3>
				</div>
			</div>
		{% endif %}		
	
		{% set retour = 'dashFormateur' %}
	</div>

</div>{% endblock %}
