* {
  margin: 0px;
  padding: 0px;
}
.contenue {
  border-radius: 3px;
  background-color: #11284b;
  margin: auto;
  width: 100%;
  text-align: center;
}

.carte,
.active {
  background-color: #018fa5 !important;
}

.vert {
  background-color: #79a342 !important;
}
.bleu {
  background-color: #11284b !important;
  color: #fff;
}
