*{
    margin: 0px;
    padding: 0px;
}
.work-content {
    width: 90%;
    height: 700px;
    background-color: #018FA5;
    margin: 40px auto 10px;
}
.font_contenue{
    background-color: #11284B;
    width: 00px;
    height: 600px;
    text-align: center;
}
.font_contenue img{
    padding-top: 20px;
    padding-bottom: 40px;
    border-radius: 100%;
}
.list_des_information li{
    list-style-type: none;
    color: #fff;
    padding: 3px 0;
}
.grand-rond{
    height: 400px;
    width: 400px;
    border: 1px solid black;
    background-color: red;
    border-radius: 100%;
}
.petit-rond{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    background-color: yellow;
    border-radius: 100%;
}