*{
    margin: 0px;
    padding: 0px;
}
.contenue
{
    border-radius: 3px;
    background-color: #11284B;
    margin: auto;
    width: 100%;
    text-align: center;
}

.carte, .active{
    background-color: #018FA5 !important;
}

.vert{
    background-color: #79a342 !important;
}
.bleu{
    background-color: #11284B !important;
    color: #fff;
}