		.contForm {
			background-color: #018FA5;
		}

		.colForm {
			background-color: gray;
		}

		.champs {
			height: 36px;
			margin-bottom: 3px;
			box-shadow: 10px 5px 5px gray;
		}
		.dat {
			margin-right: 10px;
			padding-right: 10%;
		}
		.vil {
			margin-right: 10px;
			padding-right: 10%;
		}
		.add {
			margin-right: 10px;
			padding-right: 10%;
		}
		.ema {
			margin-right: 10px;
			padding-right: 10%;
		}
		.no {
			margin-right: 10px;
			padding-right: 10%;
		}
		.work-content {
			width: 70%;
			height: auto;
			background-color: #018FA5;
		}

		.form {
			border-radius: 3px;
			margin: auto;
			text-align: center;
			padding: 2%;
			box-sizing: border-box;
		}

		

		h2 {
			color: white;
			font-family: Arial, Helvetica, sans-serif;
		}

		input[type=text],
		input[type=password] {

			margin: 8px 0;
			border: 1px solid #ccc;
			border-radius: 4px;

		}

		label {
			margin: auto;
			color: white;
			font-family: Arial, Helvetica, sans-serif;
		}

		.boutonForm {
			background-color: #79a342;
			color: white;
			border-radius: 3px;
			border: none;
			padding: 12px 24px;
			text-align: center;
			text-decoration: none;
			font-size: 15px;
			cursor: pointer;
			transition: 0.3s;
            margin-left: 10%;
			margin-left: 40%;

		}

		.boutonForm:hover {
			background-color: #f37262;
		}

		a {
			text-decoration: none;
			font-family: Arial, Helvetica, sans-serif;
			color: white;
		}

		a:hover {
			text-decoration: underline;
			color: white;
			background-color: #11284B;
			opacity: 40%;
		}
		.text
		{
			margin-left: 35%;

		}
