.work-content
{
    width: 70%;
    padding: 5% 0;
    height: auto;
    background-color: #018FA5;
}

.form
{
    border-radius: 3px;
    background-color: #11284B;
    margin: auto;
    width: 40%;
    text-align: center;
    padding: 3%;
}

.logoWG
{
    margin: auto;
    padding: 3%;
}

h2
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

input[type=text], input[type=password]
{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

label
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.bar-bottom
{
    position: relative;
    bottom: 30px;
    height: 100px;
    width: 100%;
    background-color: #11284B;
    text-align: center;
}

a
{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

a:hover
{
    text-decoration: underline;
    color: white;
    background-color: #11284B;
    opacity: 40%;
}
