@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");
.bandeau 
    {       
            margin: auto;
            background-size: cover;
            background-color: #79a342;
    }
.description 
    {
        margin-top: 5px;
    }
    
  

    .row {
    text-align: center;
    }

    .rate {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    }

    input {
    display: none;
    }

    label {
    float: right;
    font-size: 0;
    color: #d9d9d9;
    }

    label:before {
    content: "\f005";
    font-family: FontAwesome;
    font-size: 20px;
    }

    label:hover,
    label:hover ~ label {
    color: #f6c82c;
    transition: 0.2s;
    }

    input:checked ~ label {
    color: #f6c82c;
    }

    input:checked ~ label:hover,
    input:checked ~ label:hover ~ label {
    color: #FFED85;
    transition: 0.2s;
    }


    /* Half-star*/

    .star-half {
    position: relative;
    }

    .star-half:before {
    position: absolute;
    content: "\f089";
    padding-right: 0;
    }

    .boutonForm {
        margin-top: 10px;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: Arial, Helvetica, sans-serif;
        color : white;
    }

    