@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");
.bandeau 
    {
        background-color: aquamarine;
        border: 1px solid black;
    }
    .ensemble
    {
        border: 1px solid black;
    }
    .description 
    {
        border: 1px solid black;
        background-color: brown;
    }

    .row {
    text-align: center;
    }

    .rate {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    }

    input {
    display: none;
    }

    label {
    float: right;
    font-size: 0;
    color: #d9d9d9;
    }

    label:before {
    content: "\f005";
    font-family: FontAwesome;
    font-size: 20px;
    }

    label:hover,
    label:hover ~ label {
    color: #f6c82c;
    transition: 0.2s;
    }

    input:checked ~ label {
    color: #f6c82c;
    }

    input:checked ~ label:hover,
    input:checked ~ label:hover ~ label {
    color: #FFED85;
    transition: 0.2s;
    }


    /* Half-star*/

    .star-half {
    position: relative;
    }

    .star-half:before {
    position: absolute;
    content: "\f089";
    padding-right: 0;
    }