.avatar
{
    width: 80%;
}

.bleu
{
    background-color: #11284b !important;
    color: #fff;
}

.tableau
{
    margin: auto;
    padding: 10px 0 10px 0;
}

*
{
    margin: 0px;
    padding: 0px;
}

.contenue
{
    border-radius: 3px;
    background-color: #11284b;
    margin: auto;
    width: 100%;
    text-align: center;
}

.carte, .active
{
    background-color: #018fa5 !important;
}

.demo
{
    width:100%;
    height:100%;
    border:1px solid black;
    border-collapse:collapse;
    padding:5px;
}

.demo th
{
    border:1px solid black;
    padding:5px;
    background:#018fa5;
}

.demo td
{
    border:1px solid black;
    text-align:center;
    padding:5px;
    background: #11284b;
    color: white;
    height: 35px;
}