
.work-content {
    width: 70%;
    height: auto;
    background-color: #018FA5;
    margin: 40px auto 10px;
}



li{
    list-style-type: none;
    color: #fff;
    padding: 5px 0;
}


.avatar
{
    width: 80%;
}

.td
{
    border: solid black 2px;
}

.bleu {
    background-color: #11284b !important;
    color: #fff;
  }
  