{% extends 'profil/profil.html.twig' %}

{% block myStylesheets %}{% endblock myStylesheets %}


{% block myJavascripts %}{% endblock myJavascripts%}

{% block OF %}
<div class="row">
    <div class="col-5  ">    
        <h5> {{user.telephone}} </h5>
        <h5> {{user.adresse}} </h5>
        <h5> {{user.siret|default('siret XXX XXX XXX')}} </h5>
    </div>
    <div class="col-2">    
    </div>
</div>
<hr>    
{% endblock OF %}
