{% extends 'lan/base.html.twig' %}

{% block title %}Aide{% endblock %}

{% block myStylesheets %}
{% endblock %}


{% block body %}

<div class="container">
    <div class="row text-center bg-bar">
        <h4 class="text-center">Tutoriels d'aide</h4>
    </div>

    <div class="bg-workSpace">
      
  
     {# liens vers les pdf des tutoriels des différentes interface utilisateurs  #}
    <a class="nav-link" href="#">Interface apprenti</span></a>
    
    <a class="nav-link" href="#">Interface formateur</span></a>
    
    <a class="nav-link" href="#">Interface maitre d'apprentissage</span></a>
    
    <a class="nav-link" href="#">Interface organisme de formation</span></a>

    <div class="row text-center">
       </div>  
    </div>
    
</div>

{% endblock %}
