{% extends 'lan/base.html.twig' %}

{% block title %}Aide
{% endblock %}


{% block body %}
	<div class="container-fluid">
		<div class="row text-center bg-bar">
			<h1>Tutoriels d'aide</h1>
		</div>

		<div class="row">
			<div class="col-12 bg-workSpace">


				{# liens vers les pdf des tutoriels des différentes interface utilisateurs  #}
				<a class="nav-link" href="#">
                    <h2>Interface apprenti</h2>
                </a>

				<a class="nav-link" href="#">
                    <h2>Interface formateur</h2>
                </a>

				<a class="nav-link" href="#">
                    <h2>Interface maitre d'apprentissage</h2>
                </a>

				<a class="nav-link" href="#">
                    <h2>Interface organisme de formation</h2>
                </a>
			</div>
		</div>
	</div>
{% endblock %}
