{% extends 'lan/base.html.twig' %}

{% block title %}Aide{% endblock %}

{% block myStylesheets %}
{% endblock %}


{% block body %}

<div class="container">
    <div class="row text-center bg-bar">
        <h4 class="text-center">Tutoriels d'aide</h4>
    </div>

    <div class="bg-workSpace">
      
  
     {# liens vers les pdf des tutoriels des différentes interface utilisateurs  #}
    {% if is_granted('ROLE_APP') %}
        
        <a class="nav-link" href="#">Comment voir mes notes </span>{% if is_granted('ROLE_ADMIN') %}(Apprenant){% endif %}</a>
        <a class="nav-link" href="#">Comment pévenir en cas d'absence </span>{% if is_granted('ROLE_ADMIN') %}(Apprenant){% endif %}</a>
        <a class="nav-link" href="#">Interface</span>{% if is_granted('ROLE_ADMIN') %}(Apprenant){% endif %}</a>
    {% endif %}
    {% if is_granted('ROLE_FORMATEUR') %}
        <a class="nav-link" href="#">Comment pévenir en cas d'absence </span>{% if is_granted('ROLE_ADMIN') %}(Apprenant){% endif %}</a>
        <a class="nav-link" href="#">Comment noté l'apprenant </span>{% if is_granted('ROLE_ADMIN') %}(Apprenant){% endif %}</a>
        <a class="nav-link" href="#">Interface</span>{% if is_granted('ROLE_ADMIN') %}(Formateur){% endif %}</a>
    {% endif %}
    {% if is_granted('ROLE_MA') %}
        <a class="nav-link" href="#">Comment pévenir en cas d'absence </span>{% if is_granted('ROLE_ADMIN') %}(Apprenant){% endif %}</a>
        <a class="nav-link" href="#">Comment noté l'apprenant </span>{% if is_granted('ROLE_ADMIN') %}(Apprenant){% endif %}</a>
        <a class="nav-link" href="#">Interface</span>{% if is_granted('ROLE_ADMIN') %}(Maitre D'apprentissage){% endif %}</a>
    {% endif %}
    {% if is_granted('ROLE_ENT') %}
        <a class="nav-link" href="#">Comment pévenir en cas d'absence </span>{% if is_granted('ROLE_ADMIN') %}(Apprenant){% endif %}</a>
        <a class="nav-link" href="#">Comment noté l'apprenant </span>{% if is_granted('ROLE_ADMIN') %}(Apprenant){% endif %}</a>
        <a class="nav-link" href="#">Interface</span>{% if is_granted('ROLE_ADMIN') %}(Entreprise){% endif %}</a>
    {% endif %}
    {% if is_granted('ROLE_OF') %}
        <a class="nav-link" href="#">Interface</span>{% if is_granted('ROLE_ADMIN') %}(organisme de formation){% endif %}</a>
    {% endif %}
        <a class="nav-link" href="#">Comment Modifier c'est information</span></a>
        <a class="nav-link" href="#">Comment Conaitre les information Donées et confidentialité</span></a>
        <a class="nav-link" href="#"></span></a>

    <div class="row text-center">
       </div>  
    </div>
    
</div>

{% endblock %}
