{% extends 'lan/base.html.twig' %}

{% block stylesheets %}
            <link href="{{ asset('css/Dasboard-FO.css') }}" type="text/css" rel="stylesheet" />
            <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="font_contenue col-3">
                <img src="{{asset('images/avatar_garcon.png')}}" alt="avatar_garcon">
                    <ul class="list_des_information">
                        <li>Nom: Lebas</li>
                        <li>Prenom: Dylan</li>
                        <li>adress: 393 Rue du Général de Gaulle,<br>59700 Marcq-en-Barœul</li>
                        <li>Téléphone:0607080910</li>
                        <li>Email: Dylan@symbol-it.com</li>
                        <li>Date de naissance: 20/07/1995</li>
                    </ul>
            </div>
            <div class="col-9">
                <div class="grand-rond">
                    <div class="petit-rond">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>

{% endblock %}
