{% extends 'lan/base.html.twig' %}

{% block myStylesheets %}
    <link rel="stylesheet" href="{{asset("css/formulaire.css")}}">
{% endblock %}



{% block body %}

<div class="container bg-workSpace">
    <div class="row">
        <h4 class="text-center">Tableau de bord</h4>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4 p-4 my-auto">
            <button class="col-11 boutonForm">Mon planning</button>           
        </div>
        <div class="col-sm-4 p-4 my-auto">
            <button class="col-11 boutonForm">Mes fiches de suivi</button>
        </div>
        <div class="col-sm-4 p-4 my-auto">
            <button class="col-11 boutonForm">Mes documents</button>
    </div>
</div>







{% endblock %}
