{% extends 'lan/base.html.twig' %}
    {% block stylesheets %}
	<link href="{{ asset('css/Dashboard-App.css') }}" type="text/css" rel="stylesheet" />
	{% endblock %}
{% block body %}
	
	<div class="profil">
		<div class="profiltext">
			<img class="photoprofil" src="https://us.123rf.com/450wm/yupiramos/yupiramos2004/yupiramos200436847/145498923-l-ic%C3%B4ne-de-caract%C3%A8re-avatar-ambulancier-masculin-vector-illustration-design.jpg?ver=6" alt="">
			<ul class="colortext">
				<li>Nom: King</li>
				<br>
				<li>Prenom: Karim</li>
				<br>
				<li>
					Adresse: 145 rue de 
										 toto,
										  59000 Lille</li>
				<br>
				<li>Téléphone : 06 07 08 09 10</li>
				<br>
				<li>Email : 
										karimKingJS@toto.fr</li>
				<br>
				<li>Date de naissance :
										  01/01/1920</li>
			</ul>
		</div>
	</div>
	<div class="menudash"><div class="rond">Livret d'apprentisage</div></div>
{% endblock %}
