{% extends 'lan/base.html.twig' %}


{% block body %}
    <section id="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 dashMenu sidebar d-flex flex-column list-group list-group-flush viewport-max ">
                    <a href="#" class="list-group-item list-group-item-action text-center bg-bar">
                        <img src="{{ asset('images/moi.jpg') }}" alt="" class="img-fluid rounded-circle mr-2"> Alexis Santrain</a>
                    <a href="#" class="list-group-item list-group-item-action menu-items active">
                        <i class="fas fa-columns mr-2 fa-lg"></i>Dashboard</a>
                    <a href="#" class="list-group-item list-group-item-action menu-items bg-bar">
                        <i class="fas fa-thin fa-file mr-2 fa-lg"></i>Documents</a>
                    <a href="#" class="list-group-item list-group-item-action menu-items bg-bar">
                        <i class="fas fa-solid fa-bars-progress mr-2 fa-lg"></i>Suivi</a>
                    <a href="#" class="list-group-item list-group-item-action menu-items bg-bar">
                        <i class="fas fa-info mr-2 fa-lg"></i>Infos Eleves</a>
                    <a href="#" class="list-group-item list-group-item-action menu-items bg-bar">
                        <i class="fas fa-user-cog mr-2 fa-lg"></i>Mes information</a>
                </div>
                <!-- MAIN CARDS-->
                <div class="col-lg-10">
                    <div class="row">
                        <div class="col">
                            <h2 class="text-info">
                                <small class="text-muted">Foreach-Academy (espace OF)</small>
                            </h2>
                        </div>
                    </div>
                    <div class="row inform-cards">
                        <div class=" col-sm-7 col-md-5 col-lg-4 p-4">
                            <div class="card text-white my-2 rounded">
                                <div class="card-body carte bg-primary d-flex align-items-center justify-content-between">
                                    <i class="fas fa-users fa-2x"></i>
                                    <div class="inner-text text-center">
                                        <h3><span class="badge vert badge-pill">21</span> Nombre d'apprenant   </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-7 col-md-5 col-lg-4 p-4">
                                <div class="card text-white my-2 rounded">
                                    <div class="carte card-body bg-primary d-flex align-items-center justify-content-between">
                                        <i class="fas fa-thin fa-file fa-2x"></i>
                                        <div class="inner-text text-center">
                                            <h3>
                                                <span class="badge vert badge-pill">2 new</span>
                                                <span class="badge badge-danger badge-pill">1 ABS</span>
                                                Document
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class=" col-sm-7 col-md-5 col-lg-4 p-4">
                            <div class="card text-white my-2 rounded">
                                <div class="carte card-body bg-primary d-flex align-items-center justify-content-between">
                                    <i class="fas fa-thin fa-file fa-2x"></i>
                                    <div class="inner-text text-center">
                                        <h3>
                                            <span class="badge vert badge-pill">1 session</span>
                                            Formation En cours
                                        </h3>

                                    </div>
                                </div>
                            </div>
                        </div>  
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                                <canvas id="lineChart" width="400" height="400"></canvas>
                        </div>
                        <div class="col-sm-4">
                                <canvas id="sampleChart" width="400" height="400"></canvas>
                        </div>
                        <div class="col-sm-4">
                                <canvas id="pieChart" width="400" height="400"></canvas>
                        </div>
                    </div>
                    
                    

                </div>
            </div>
    </section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
        <script src="{{ asset('JS/line.js') }}"></script>
        <script src="{{ asset('JS/sample.js') }}"></script>
        <script src="{{ asset('JS/pie.js') }}"></script>

    <script>
        window.addEventListener('load', function () {

            document.querySelector('.navbar-toggler').innerHTML = '<i class="fas fa-arrow-down"></i>';
        })

       
    </script>

{% endblock %}
