{% extends 'lan/base.html.twig' %}

{% block title %}Documents officiels
{% endblock %}


{% block body %}
	<div class="container-fluid">
		<div class="row  text-center  bg-bar">
			<h1>Documents officiels</h1>
		</div>
		<div class="row">
			<div class="col-12  bg-workSpace">
				<a class="nav-link" href="https://www.service-public.fr/particuliers/vosdroits/R1319">
					<h2>vos droit</h2>
				</a>
				<a class="nav-link" href="https://www.formulaires.service-public.fr/gf/cerfa_10103.do">
					<h2>cerfa</h2>
				</a>
				<a class="nav-link" href="https://www.demarches.interieur.gouv.fr/professionnels/contrat-apprentissage">
					<h2>contart d'apprentissage</h2>
				</a>
				<a class="nav-link" href="https://travail-emploi.gouv.fr/formation-professionnelle/formation-en-alternance-10751/apprentissage/">
					<h2>formation en alternance</h2>
				</a>
			</div>
		</div>
	</div>
{% endblock %}
