{% extends 'lan/base.html.twig' %}


{% block body %}
<div class="container-fluid">
    <div class="row bg-bar">
        <h1>Documents officiels</h1>
    </div>
    <div class="row bg-workSpace">
        <a href="https://www.service-public.fr/particuliers/vosdroits/R1319">
            <h2>vos droit</h2>
        </a>
	</div>	
    <div class="row bg-workSpace">
        <a href="https://www.formulaires.service-public.fr/gf/cerfa_10103.do">
            <h2>cerfa</h2>
        </a>
	</div>	
    <div class="row bg-workSpace">
        <a href="https://www.demarches.interieur.gouv.fr/professionnels/contrat-apprentissage">
            <h2>contart d'apprentissage</h2>
        </a>
	</div>	
    <div class="row bg-workSpace">
        <a href="https://travail-emploi.gouv.fr/formation-professionnelle/formation-en-alternance-10751/apprentissage/">
            <h2>formation en alternance</h2>
        </a>
	</div>	
</div>
{% endblock %}