{% extends 'lan/base.html.twig' %}
{% block title %}Documents{% endblock %}
{% block body %}

<form >
    
   <button class="button">Ajouter un fichier</button>
    <table>
      <tr>
        <th>Nom du fichier</th>
        <th>Date téléchargement</th>
        <th>fichier</th>
      </tr>
      <tr>
        <td>CERFA</td>
        <td>01/02/2022</td>
        <td>
          <img
            src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fcommons.wikimedia.org%2Fwiki%2FFile%3APDF_file_icon.svg&psig=AOvVaw18jrGVUdRhlMN1HW69e_VB&ust=1643809698562000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCJCviLzS3vUCFQAAAAAdAAAAABAD"
            alt=""
          />
        </td>
      </tr>
      <tr>
        <td>Convention</td>
        <td>31/01/2022</td>
        <td>
          <img
            src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fcommons.wikimedia.org%2Fwiki%2FFile%3APDF_file_icon.svg&psig=AOvVaw18jrGVUdRhlMN1HW69e_VB&ust=1643809698562000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCJCviLzS3vUCFQAAAAAdAAAAABAD"
            alt=""
          />
        </td>
      </tr>
      <tr>
        <td>Formation</td>
        <td>02/01/2022</td>
        <td>
          <img
            src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fcommons.wikimedia.org%2Fwiki%2FFile%3APDF_file_icon.svg&psig=AOvVaw18jrGVUdRhlMN1HW69e_VB&ust=1643809698562000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCJCviLzS3vUCFQAAAAAdAAAAABAD"
            alt=""
          />
        </td>
      </tr>
    </table>
</form>


{% endblock %}
