{% extends 'lan/base.html.twig' %}
{% block title %}Documents{% endblock %}
{% block body %}

<form >
    
   <button class="button">Ajouter un fichier</button>
    <table>
      <tr>
        <th>Nom du fichier</th>
        <th>Date téléchargement</th>
        <th>fichier</th>
      </tr>
      <tr>
        <td>CERFA</td>
        <td>01/02/2022</td>
        <td>
          <img
            src=""/>
        </td>
      </tr>
      <tr>
        <td>Convention</td>
        <td>31/01/2022</td>
        <td>
          <img
            src=""/>
          />
        </td>
      </tr>
      <tr>
        <td>Formation</td>
        <td>02/01/2022</td>
        <td>
          <img
            src=""/>
          />
        </td>
      </tr>
    </table>
</form>


{% endblock %}
