{% extends 'lan/base.html.twig' %}
{% block title %}Suivi alternane{% endblock %}
{% block myStylesheets %}
        <link rel="stylesheet" href='{{ asset("css/follow.css")}}'> 
{% endblock %}
{% block body %}
   <div class="container">
        <!-- bandeau -->
        <header class="col-12 mx-auto bandeau">
            <div class="container">
                <div class="row align-items-start">
                  <div class="col-4 mx-auto ">
                    <h6 class="text-center">Apprenti : DUPOND Martin</h6>
                    <h6 class="text-center">Tuteur : DURAND Sophie</h6>
                  </div>
                  <div class="col-4 mx-auto my-auto ">
                    <h2 class="text-center">Suivi alternance</h2>
                    <br>
                    <h4 class="text-center">En entreprise</h4>
                  </div>
                  <div class="col-4 mx-auto ">
                    <h6 class="text-center">Période Du 20/09/2021</h6>
                    <h6 class="text-center">Au 15/03/2022</h6>
                  </div>
                </div> 
            </div>
        </header>

        <main class="col-12 mx-auto saisie"> Date : 
            <div class="container">
                <div class="row align-items-start">
                    <div class="col-6 mx-auto" >
                        <h5 class="text-center">Opérations effectuées :</h5>
                        <textarea class="form-control" rows="8" id="comment" name="text" placeholder="Tapez votre commentaire ici"></textarea>
                    </div>
                    <div class="col-6 mx-auto" >
                        <h5 class="text-center">Procédés utilisés :</h5>
                        <textarea class="form-control" rows="8" id="comment" name="text" placeholder="Tapez votre commentaire ici"></textarea>
                        

                    </div>
                </div>

                <div class="row">
                  <div class="col-12 mx-auto my-2">
                    <button type="button" class="boutonForm">Valider</button>
                  </div>


                </div>
            </div>
        </main>
    </div>

{% endblock %}
