{% extends 'lan/base.html.twig' %}

{% block myStylesheets %}
    <link rel="stylesheet" href="{{asset("css/formulaire.css")}}">
{% endblock %}


{% block body %}

<div class="container">
    <div class="row text-center">
        <h2 class="text-center">mon joli titre</h2>
    </div>
    <div class="row">
        <div class="col-6 my-auto">
            <input type="text" placeholder="PRENOM" class="col-11  champs">
            <input type="text" placeholder="NOM" class="col-11  champs">
            <input type="text" placeholder="ADRESSE" class="col-11  champs"> 
            <input type="text" placeholder="ADRESSE" class="col-11  champs"> 
            <input type="text" placeholder="DATE NAISSANCE" class="col-11  champs"> 
            <input type="text" placeholder="ZODIAQUE" class="col-11  champs">
            <input type="text" placeholder="POINTURE" class="col-11  champs">
            <input type="text" placeholder="GROUPE SANGUIN" class="col-11  champs"> 
        </div>
        <div class="col-6 my-auto">
            <input type="text" placeholder="PRENOM" class="col-11  champs">
            <input type="text" placeholder="NOM" class="col-11  champs">
            <input type="text" placeholder="ADRESSE" class="col-11  champs"> 
            <input type="text" placeholder="ADRESSE" class="col-11  champs"> 
            <input type="text" placeholder="DATE NAISSANCE" class="col-11  champs"> 
            <input type="text" placeholder="ZODIAQUE" class="col-11  champs">
            <input type="text" placeholder="POINTURE" class="col-11  champs">
            <input type="text" placeholder="GROUPE SANGUIN" class="col-11  champs"> 
        </div>
    </div>
</div>






{% endblock %}
