{% extends 'lan/base.html.twig' %}

{% block myStylesheets %}
    <link rel="stylesheet" href='{{ asset("css/inscriptionForm.css")}}'>  
{% endblock %}

{% block body %}
<div class="container">
     <div class="row text-center">
        <h2 class="text">Inscription</h2>
    </div>
    <div class="row">
        <div class="col-6 my-auto ">
            <label for="Prenom" class="dat"><i class="fa fa-user"></i> </label>
            <input type="text" id="fname" name="firstname" placeholder="Prenom"><br>

              <label for="Nom" class="no"><i class="fa fa-user"></i> </label>
            <input type="text" id="fname" name="firstname" placeholder="Nom"><br>

            <label for="email" class="ema"><i class="fa fa-envelope"></i> </label>
            <input type="text" id="email" name="email" placeholder="Email"><br>

            <label for="adr" class="add"><i class="fa fa-address-card-o"></i> </label>
            <input type="text" id="adr" name="address" placeholder="Address"><br>

            <label for="Ville" class="vil"><i class="fa fa-institution"></i> </label>
            <input type="text" id="Ville" name="Ville" placeholder="Ville"><br>

              
        </div>
        <div class="col-6 my-auto">
       <label for="Prenom" class="dat"><i class="fa fa-user"></i> </label>
            <input type="text" id="fname" name="firstname" placeholder="Classe"><br>

              <label for="Nom" class="no"><i class="fa fa-user"></i> </label>
            <input type="text" id="fname" name="firstname" placeholder="Année"><br>

            <label for="email" class="ema"><i class="fa fa-envelope"></i> </label>
            <input type="text" id="email" name="email" placeholder="Téléphone"><br>

            <label for="adr" class="add"><i class="fa fa-address-card-o"></i> </label>
            <input type="text" id="adr" name="address" placeholder="Date de Naissance"><br>

            <label for="Ville" class="vil"><i class="fa fa-institution"></i> </label>
            <input type="text" id="Ville" name="Ville" placeholder="Ville"><br>
        </div>
    </div>
</div>

				<br>
				<button class='boutonForm' type='submit'>Se connecter</button>
				<br>
			</div>
		</div>
	</div>

{% endblock %}