{% extends 'lan/base.html.twig' %}
{% block title %}Suivi alternane{% endblock %}
{% block myStylesheets %}
        <link rel="stylesheet" href='{{ asset("css/follow.css")}}'>
        <link rel="stylesheet" href='{{ asset("css/login.css")}}'> 
        <link rel="stylesheet" href='{{ asset("css/skill.css")}}'>   
{% endblock %}
{% block body %}
   <div class="container">
        <!-- bandeau -->
        <header class="col-12 mx-auto bandeau">
            <div class="container">
                <div class="row align-items-start my-2">
                  <div class="col-4 mx-auto ">
                    <h6 class="text-center">Apprenti : DUPOND Martin</h6>
                    <h6 class="text-center">Formateur : DURAND Sophie</h6>
                  </div>
                  <div class="col-4 mx-auto my-auto ">
                    <h2 class="text-center">Suivi alternance</h2>
                    <br>
                    <h4 class="text-center my-2">Savoir Etre</h4>
                  </div>
                  <div class="col-4 mx-auto ">
                    <h6 class="text-center">Semaine Du 20/09/2021</h6>
                    <h6 class="text-center">Au 15/03/2022</h6>
                  </div>
                </div> 
            </div>
        </header>
        <main class="col-12 mx-auto description">
        
            <div class="container">
            
                <div class="row align-items-start my-2">
                    <div class="col-4 mx-auto" >
                        <h4 class="text-center">Evaluation</h4>
                        <h5 class="text-center">Assiduité</h5>
                        
                        <fieldset class="rate">
                            <input id="rate1-star5" type="radio" name="rate1" value="5" />
                            <label for="rate1-star5" title="Awesome">5</label>
                        
                            <input id="rate1-star5-half" type="radio" name="rate1" value="4.5" />
                            <label class="star-half" for="rate1-star5-half" title="Excellent">4.5</label>
                        
                            <input id="rate1-star4" type="radio" name="rate1" value="4" />
                            <label for="rate1-star4" title="Very good">4</label>
                        
                            <input id="rate1-star3-half" type="radio" name="rate1" value="3.5" />
                            <label class="star-half" for="rate1-star3-half" title="Good">3.5</label>
                        
                            <input id="rate1-star3" type="radio" name="rate1" value="3" />
                            <label for="rate1-star3" title="Satisfactory">3</label>
                        
                            <input id="rate1-star2-half" type="radio" name="rate1" value="2.5" />
                            <label class="star-half" for="rate1-star2-half" title="Unsatisfactory">2.5</label>
                        
                            <input id="rate1-star2" type="radio" name="rate1" value="2" />
                            <label for="rate1-star2" title="Bad">2</label>
                        
                            <input id="rate1-star1-half" type="radio" name="rate1" value="1.5" />
                            <label class="star-half" for="rate1-star1-half" title="Very bad">1.5</label>
                        
                            <input id="rate1-star1" type="radio" name="rate1" value="1" />
                            <label for="rate1-star1" title="Awful">1</label>
                        
                            <input id="rate1-star0-half" type="radio" name="rate1" value="0.5" />
                            <label class="star-half" for="rate1-star0-half" title="Horrific">0.5</label>
                        </fieldset>
                        
                        <h5 class="text-center">Comportement</h5>
                        
                        <fieldset class="rate">
                            <input id="rate1-star5" type="radio" name="rate1" value="5" />
                            <label for="rate1-star5" title="Awesome">5</label>
                        
                            <input id="rate1-star5-half" type="radio" name="rate1" value="4.5" />
                            <label class="star-half" for="rate1-star5-half" title="Excellent">4.5</label>
                        
                            <input id="rate1-star4" type="radio" name="rate1" value="4" />
                            <label for="rate1-star4" title="Very good">4</label>
                        
                            <input id="rate1-star3-half" type="radio" name="rate1" value="3.5" />
                            <label class="star-half" for="rate1-star3-half" title="Good">3.5</label>
                        
                            <input id="rate1-star3" type="radio" name="rate1" value="3" />
                            <label for="rate1-star3" title="Satisfactory">3</label>
                        
                            <input id="rate1-star2-half" type="radio" name="rate1" value="2.5" />
                            <label class="star-half" for="rate1-star2-half" title="Unsatisfactory">2.5</label>
                        
                            <input id="rate1-star2" type="radio" name="rate1" value="2" />
                            <label for="rate1-star2" title="Bad">2</label>
                        
                            <input id="rate1-star1-half" type="radio" name="rate1" value="1.5" />
                            <label class="star-half" for="rate1-star1-half" title="Very bad">1.5</label>
                        
                            <input id="rate1-star1" type="radio" name="rate1" value="1" />
                            <label for="rate1-star1" title="Awful">1</label>
                        
                            <input id="rate1-star0-half" type="radio" name="rate1" value="0.5" />
                            <label class="star-half" for="rate1-star0-half" title="Horrific">0.5</label>
                        </fieldset>
                        
                        <h5 class="text-center">Communication</h5>
                        
                        <fieldset class="rate">
                            <input id="rate1-star5" type="radio" name="rate1" value="5" />
                            <label for="rate1-star5" title="Awesome">5</label>
                        
                            <input id="rate1-star5-half" type="radio" name="rate1" value="4.5" />
                            <label class="star-half" for="rate1-star5-half" title="Excellent">4.5</label>
                        
                            <input id="rate1-star4" type="radio" name="rate1" value="4" />
                            <label for="rate1-star4" title="Very good">4</label>
                        
                            <input id="rate1-star3-half" type="radio" name="rate1" value="3.5" />
                            <label class="star-half" for="rate1-star3-half" title="Good">3.5</label>
                        
                            <input id="rate1-star3" type="radio" name="rate1" value="3" />
                            <label for="rate1-star3" title="Satisfactory">3</label>
                        
                            <input id="rate1-star2-half" type="radio" name="rate1" value="2.5" />
                            <label class="star-half" for="rate1-star2-half" title="Unsatisfactory">2.5</label>
                        
                            <input id="rate1-star2" type="radio" name="rate1" value="2" />
                            <label for="rate1-star2" title="Bad">2</label>
                        
                            <input id="rate1-star1-half" type="radio" name="rate1" value="1.5" />
                            <label class="star-half" for="rate1-star1-half" title="Very bad">1.5</label>
                        
                            <input id="rate1-star1" type="radio" name="rate1" value="1" />
                            <label for="rate1-star1" title="Awful">1</label>
                        
                            <input id="rate1-star0-half" type="radio" name="rate1" value="0.5" />
                            <label class="star-half" for="rate1-star0-half" title="Horrific">0.5</label>
                        </fieldset>
                       
                        <h5 class="text-center">Prise d'initiative</h5>
                        
                        <fieldset class="rate">
                            <input id="rate1-star5" type="radio" name="rate1" value="5" />
                            <label for="rate1-star5" title="Awesome">5</label>
                        
                            <input id="rate1-star5-half" type="radio" name="rate1" value="4.5" />
                            <label class="star-half" for="rate1-star5-half" title="Excellent">4.5</label>
                        
                            <input id="rate1-star4" type="radio" name="rate1" value="4" />
                            <label for="rate1-star4" title="Very good">4</label>
                        
                            <input id="rate1-star3-half" type="radio" name="rate1" value="3.5" />
                            <label class="star-half" for="rate1-star3-half" title="Good">3.5</label>
                        
                            <input id="rate1-star3" type="radio" name="rate1" value="3" />
                            <label for="rate1-star3" title="Satisfactory">3</label>
                        
                            <input id="rate1-star2-half" type="radio" name="rate1" value="2.5" />
                            <label class="star-half" for="rate1-star2-half" title="Unsatisfactory">2.5</label>
                        
                            <input id="rate1-star2" type="radio" name="rate1" value="2" />
                            <label for="rate1-star2" title="Bad">2</label>
                        
                            <input id="rate1-star1-half" type="radio" name="rate1" value="1.5" />
                            <label class="star-half" for="rate1-star1-half" title="Very bad">1.5</label>
                        
                            <input id="rate1-star1" type="radio" name="rate1" value="1" />
                            <label for="rate1-star1" title="Awful">1</label>
                        
                            <input id="rate1-star0-half" type="radio" name="rate1" value="0.5" />
                            <label class="star-half" for="rate1-star0-half" title="Horrific">0.5</label>
                        </fieldset>
                    </div>
                        <div class="col-8 m-auto" >
                            <h5 class="text-center">Commentaire :</h5>
                            <textarea class="form-control" rows="8" id="comment" name="text" placeholder="Tapez votre commentaire ici"></textarea>
                        </div>
                    <div class="col-4 m-auto">
                        <button type="button" class="boutonForm">Valider</button>
       
                    </div>
                    
                </div>
               
            </div>
        </main>
    </div>

{% endblock %}
