{% extends 'lan/base.html.twig' %}

{% block myStylesheets %}
	<style>
		body{
			text-align: center;
		}
		.dat {
			margin-right: 10px;
			padding-right: 10%;
            margin: 8px 0;
			border: 1px solid #ccc;
			
			border-radius: 4px;
		}
		
		
		
		.boutonForm {
			background-color: #79a342;
			color: white;
			border-radius: 3px;
			border: none;
			padding: 12px 24px;
			text-decoration: none;
			font-size: 15px;
			cursor: pointer;
			transition: 0.3s;
		}
		.boutonForm:hover {
			background-color: #f37262;
		}
		
	</style>
{% endblock %}

{% block body %}
	<h3>Inscription Éléve</h3>
	{{form(form)}}

{% endblock %}
