{% extends 'lan/base.html.twig' %}

{% block stylesheets %}
	<style>
	
		.contForm {
			background-color: #018FA5;
		}

		.colForm {
			background-color: gray;
		}

		.champs {
			height: 36px;
			margin-bottom: 3px;
			box-shadow: 10px 5px 5px gray;
		}
		.dat {
			margin-right: 10px;
			padding-right: 5%;
		}
		.vil {
			margin-right: 10px;
			padding-right: 10%;
		}
		.add {
			margin-right: 10px;
			padding-right: 5%;
		}
		.ema {
			margin-right: 10px;
			padding-right: 8%;
		}
		.no {
			margin-right: 10px;
			padding-right: 8%;
		}
		.work-content {
			width: 70%;
			padding: 5% 0;
			height: auto;
			background-color: #018FA5;
		}

		.form {
			border-radius: 3px;
			background-color: #11284B;
			margin: auto;
			width: 40%;
			text-align: center;
			padding: 3%;
		}

		.logoWG {
			margin: auto;
			padding: 3%;
		}

		h2 {
			color: white;
			font-family: Arial, Helvetica, sans-serif;
		}

		input[type=text],
		input[type=password] {

			padding: 12px 20px;
			margin: 8px 0;
			border: 1px solid #ccc;
			border-radius: 4px;

		}

		label {
			margin: auto;
			color: white;
			font-family: Arial, Helvetica, sans-serif;
		}

		.boutonForm {
			background-color: #79a342;
			color: white;
			border-radius: 3px;
			border: none;
			padding: 12px 24px;
			text-align: center;
			text-decoration: none;
			font-size: 15px;
			cursor: pointer;
			transition: 0.3s;
            margin-left: 30%;
		}

		.boutonForm:hover {
			background-color: #f37262;
		}

		a {
			text-decoration: none;
			font-family: Arial, Helvetica, sans-serif;
			color: white;
		}

		a:hover {
			text-decoration: underline;
			color: white;
			background-color: #11284B;
			opacity: 40%;
		}

		.bar-bottom {
			position: relative;
			bottom: 30px;
			height: 100px;
			width: 100%;
			background-color: #11284B;
			text-align: center;
		}
		.inp {
			text-align: center;
			margin-left: 40px;
		}
	</style>
{% endblock %}

{% block body %}

	<div class='form'>
		<div class="logoWG">
			<img width="150" height="148" src="https://webgenius.foreach-academy.fr/wp-content/uploads/2022/01/Logo-Web-Genius-300x294.png" class="attachment-medium size-medium" alt="" loading="lazy" srcset="https://webgenius.foreach-academy.fr/wp-content/uploads/2022/01/Logo-Web-Genius-300x294.png 300w,
						                https://webgenius.foreach-academy.fr/wp-content/uploads/2022/01/Logo-Web-Genius-1024x1004.png 1024w,
						                https://webgenius.foreach-academy.fr/wp-content/uploads/2022/01/Logo-Web-Genius-768x753.png 768w,
						                https://webgenius.foreach-academy.fr/wp-content/uploads/2022/01/Logo-Web-Genius-1536x1506.png 1536w,
						                https://webgenius.foreach-academy.fr/wp-content/uploads/2022/01/Logo-Web-Genius-2048x2008.png 2048w">
		</div>
		<div class="container">
			<h2>Inscription</h2>
			<div class="row">
				<div class="col-6 my-auto inp">
					<label for="Prenom" class="dat">
						<i class="fa fa-user"></i>
						Prénom</label>
					<input type="text" id="fname" name="firstname" placeholder="John M. Doe"><br>

					<label for="Nom" class="no">
						<i class="fa fa-user"></i>
						Nom</label>
					<input type="text" id="fname" name="firstname" placeholder="toto M. Doe"><br>

					<label for="email" class="ema">
						<i class="fa fa-envelope"></i>
						Email</label>
					<input type="text" id="email" name="email" placeholder="xxx@example.com"><br>

					<label for="adr" class="add">
						<i class="fa fa-address-card-o"></i>
						Address</label>
					<input type="text" id="adr" name="address" placeholder="542 W. 15th Street"><br>

					<label
						for="Ville" class="vil">
						{# <i class="fa fa-institution"></i> #}
						Ville</label>
					<input type="text" id="Ville" name="Ville" placeholder="........."><br>

					<label
						for="Classe" class="dat">
						{# <i class="fa fa-user"></i> #}
						Classe</label>
					<input type="text" id="fname" name="firstname" placeholder="................."><br>

					<label
						for="Année" class="no">
						{# <i class="fa fa-user"></i> #}
						Année</label>
					<input type="text" id="fname" name="firstname" placeholder="............."><br>

				</div>
				<br>
				<button class='boutonForm' type='submit'>Se connecter</button>
				<br>
			</div>
		</div>
	</div>

{% endblock %}
