{% extends 'lan/base.html.twig' %}

{% block myStylesheets %}
<link href="{{ asset('css/Dasboard-Entreprise.css') }}" type="text/css" rel="stylesheet" />
	<style>
		body{
			text-align: center;
			color: #fff;
		}
		h3{
			padding-top:15px;
			margin-bottom:15px;
		}
		.dat {
			margin-right: 10px;
			padding-right: 10%;
            margin: 8px 0;
			border: 1px solid #ccc;
			
			border-radius: 4px;
		}
		.date{
			border: none;
			margin: 0px;
			padding: 0px;
		}
		
		
		.boutonForm {
			background-color: #79a342;
			color: white;
			border-radius: 3px;
			border: none;
			padding: 12px 24px;
			text-decoration: none;
			font-size: 15px;
			cursor: pointer;
			transition: 0.3s;
			margin-top:15px;
			margin-bottom:15px;
		}
		.boutonForm:hover {
			background-color: #f37262;
		}
		
	</style>
{% endblock %}

{% block body %}
<section id="main">
	<div class="container-fluid contenue">
		<h3>Inscription Éléve</h3>
		{{form(form)}}
	</div>
</section>

	

{% endblock %}
