{% extends 'lan/base.html.twig' %}

{% block body %}

<form >
    <input type='text' placeholder='votre login'>
    <br>
    <input type='text' placeholder='votre mot de passe'>
</form>


{% endblock %}
