

{% extends 'lan/base.html.twig' %}

{% block body %}

<style>
.login
{
   text-align: center;
   height:30px;
  display: block;
    margin-left: auto;
    margin-right: auto; 
      padding: 10px 10px;
    box-shadow: 0px 5px 20px rgba(0,0,0, 0.05);
}
.val
{
    text-align: center;
    height:30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px;
  padding: 10px 10px;
    box-shadow: 0px 5px 20px rgba(0,0,0, 0.05);}
</style>

<form>
        <br>
        <br>
    <input class="login" type='text' placeholder='votre login'>
        <br>
        <br>
    <input class="login" type='text' placeholder='votre mot de passe'>
        <br>
        <br>
    <input class="val" type='text' placeholder='valider'>
</form>


{% endblock %}

