{% extends 'lan/base.html.twig' %}

{% block stylesheets %}
    <style>
        .body-fe
        {
            background-image: url("https://webgenius.foreach-academy.fr/wp-content/uploads/2022/01/fond-bleu-double-scaled.jpg");
            background-position: center top;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            margin: 0;
        }
        
        .bar-top
        {
            width: 100%;
            height: 80px;
            color: white;           
            vertical-align: top; 
        }
        
        .menu-top
        {
            width: 50%;
            margin: auto;
            display: inline-block;
            vertical-align: middle;
        }
        
        .ul-fe li
        {
            display: inline;
            margin-left : 10px;
            margin-right : 10px;
        }
        
        .logo-top
        {
            height: 100%;
            display: inline-block;
        }

        .work-content
        {
            width: auto;
            padding: 5% 0;
            height:  auto;
            background-color: #018FA5;
            
        }

        .bar-bottom
        {
            position: relative;
            bottom: 30px;
            height: 100px;
            width: 100%;
            background-color: #11284B;
            text-align: center;
        }

        .boutonForm
        {
            background-color: #79a342;
            color: white;
            border-radius: 3px; 
            border: none;
            padding: 12px 24px;
            text-align: center;
            text-decoration: none;
            font-size: 15px;
            cursor: pointer;
            transition: 0.3s;
        }

        .boutonForm:hover
        {
            background-color: #f37262;
        }

        .form
        {
            border-radius: 3px;
            background-color: #11284B;
            margin: auto;
            width: 40%;
            text-align: center;
            padding: 3%;
        }

        input[type=text], input[type=password]
        {
            width: 50%;
            padding: 12px 20px;
            margin: 8px 0;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        input[type=checkbox]
        {
            margin: 8px 5px;
        }

        label
        {
            color: white;
            font-family: Arial, Helvetica, sans-serif;
        }

        a
        {
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
            color: white;
        }

        a:hover
        {
            text-decoration: underline;
            color: white;
            background-color: #11284B;
            opacity: 40%;
        }

        h2
        {
            color: white;
            font-family: Arial, Helvetica, sans-serif;
        }

        .logoWG
        {
            margin: auto;
            background-color: #11284B;
            width: 40%;
            text-align: center;
            padding: 3%;
        }
    </style>
{% endblock %}

{% block body %}

<div class="logoWG">
    <img width="150" height="148" src="https://webgenius.foreach-academy.fr/wp-content/uploads/2022/01/Logo-Web-Genius-300x294.png" 
    class="attachment-medium size-medium" alt="" loading="lazy" 
    srcset="https://webgenius.foreach-academy.fr/wp-content/uploads/2022/01/Logo-Web-Genius-300x294.png 300w, 
            https://webgenius.foreach-academy.fr/wp-content/uploads/2022/01/Logo-Web-Genius-1024x1004.png 1024w, 
            https://webgenius.foreach-academy.fr/wp-content/uploads/2022/01/Logo-Web-Genius-768x753.png 768w, 
            https://webgenius.foreach-academy.fr/wp-content/uploads/2022/01/Logo-Web-Genius-1536x1506.png 1536w, 
            https://webgenius.foreach-academy.fr/wp-content/uploads/2022/01/Logo-Web-Genius-2048x2008.png 2048w">
</div>

<div class='form'>
    <form action="#">
        <h2>Connectez-vous</h2>
        <input type='text' placeholder='Entrez votre adresse mail'>
        <br>
        <input type='password' placeholder='Entrez votre mot de passe'>
        <br>
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Se souvenir de moi
        </label>
        <br>
        <br>
        <button class='boutonForm' type='submit'>Se connecter</button>
        <br>
        <br>
        <a href="#">Mot de passe oublié ?</a>
    </form>
</div>

{% endblock %}
