	{#
    	<div class="container-fluid">
			<div class=" row bar-top">
				<img class="logo-top ml-3" src="{{ asset('images/logo-foreach-blanc.png') }}">

				<div class=" col-10 menu-top">
					<ul class="ul-fe">
						<li>Accueil</li>
						<li>L’Ecole</li>
						<li>Actualités</li>
						<li>Formations Développeur Web</li>
						<li>Contactez-Nous !</li>
					</ul>
				</div>
			</div>
		</div>
#}



        <nav class="bar-top navbar navbar-expand-lg navbar-light text-light">


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="logo-top">
                <img src="{{ asset('images/logo-foreach-blanc.png') }}">
            </div>

            <ul class="navbar-nav me-auto">
                <li class="nav-item active">
                    <a class="nav-link text-light" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-light" href="#">Action</a>
                    <a class="dropdown-item text-light" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-light" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>

            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          
        </div>
        </nav>
