{% extends 'base.html.twig' %}

{% block body %}
	<div class="container-fluid">
		<div class="row bg-bar">
			<h1>Mon compte</h1>
		</div>
		<div class="row txt-normal  bg-bar">
			<div class="col-10">
				{{user.prenom}} {{user.nom}} :  gérer vos informations personnelles
			</div>
		</div>
	</div>
	<div class="row  txt-normal my-3">
		<div class="col-6">
			<a href="#">- Modifier mon mot de passe</a><br>
			<a href="{{path('modifInfoMonCompte')}}">- mes informations</a><br>
		</div>
	</div>
</div>
{% endblock body %}
