{% extends 'lan/base.html.twig' %}

{% block myStylesheets %}
            <link href="{{ asset('css/suiviCompetences.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <section id="main">
        <div class="container-fluid contenue">
        <h1>Formation DWWM</h1>
            <div class="row">
                <div class="col-lg-2 dashMenu sidebar d-flex flex-column list-group list-group-flush viewport-max ">
                    <a href="#" class="list-group-item list-group-item-action text-center bleu">
                        <img src="{{ asset('images/olivier.jpeg') }}" alt="" class="img-fluid rounded-circle mr-2"> Olivier Carlier</a>
                    <a href="#" class="list-group-item list-group-item-action menu-items bleu">
                        <i class="fas fa-columns mr-2 fa-lg"></i>Dashboard</a>
                    <a href="#" class="list-group-item list-group-item-action menu-items bleu">
                        <i class="fas fa-thin fa-file mr-2 fa-lg"></i>Documents</a>
                    <a href="#" class="list-group-item list-group-item-action menu-items active">
                        <i class="fas fa-solid fa-bars-progress mr-2 fa-lg"></i>Suivi</a>
                    <a href="#" class="list-group-item list-group-item-action menu-items bleu">
                        <i class="fas fa-info mr-2 fa-lg"></i>Infos Entreprise</a>
					<a href="#" class="list-group-item list-group-item-action menu-items bleu">
						<i class="fas fa-info mr-2 fa-lg"></i>Infos Organisme de Formation</a>
                    <a href="#" class="list-group-item list-group-item-action menu-items bleu">
                        <i class="fas fa-user-cog mr-2 fa-lg"></i>Mes information</a>
                </div>

                <div class="col-8 tableau">
                    <table class="demo">
                        <thead>
                            <th class="savoirs">Compétences</th>
                            <th class="validation">Validation</th>
                        </thead>
                        <tbody>
                            <tr class="text-decoration-none">
                                <td class="text-left"><a href="http://" class="text-decoration-none">Capacité d'adaptation.</a></td><td>✅</td>
                            </tr>
                            <tr>
                                <td class="text-left"><a href="http://">Gestion du stress.</a></td><td>❌</td>
                            </tr>
                            <tr>
                                <td class="text-left"><a href="http://">Travail en équipe.</a></td><td>✅</td>
                            </tr>
                            <tr>
                                <td class="text-left"><a href="http://">Sens de l'organisation.</a></td><td>❌</td>
                            </tr>
                            <tr>
                                <td class="text-left"><a href="http://">Autonomie.</a></td><td>✅</td>
                            </tr>
            
                        
                            <tr>
                                <td class="text-left"><a href="http://">Réaliser une interface utilisateur web statique et adaptable.</a></td><td>✅</td>
                            </tr>
                            <tr>
                                <td class="text-left"><a href="http://">Développer une interface utilisateur web dynamique.</a></td><td>❌</td>
                            </tr>
                            <tr>
                                <td class="text-left"><a href="http://">Réaliser une interface utilisateur avec une solution de gestion de contenu ou e-commerce.</a></td><td>✅</td>
                            </tr>
                            <tr>
                                <td class="text-left"><a href="http://">Créer une base de données.</a></td><td>❌</td>
                            </tr>
                            <tr>
                                <td class="text-left"><a href="http://">Développer les composants d'accès aux données.</a></td><td>✅</td>
                            </tr>
                        <tbody>
                    </table>
                    <br>
                    <table class="demo">
                        <thead>
                            <th>Date</th>
                            <th>Module</th>
                            <th>Objectif</th>
                            <th>Note</th>
                            <th>Délivré par</th>
                        </thead>
                        <tbody>
                            <td>01/01</td>
                            <td>CSS</td>
                            <td>Mettre une div en forme</td>
                            <td>5/5</td>
                            <td>Toto</td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
